<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exercise2</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="./exercise2.css">
</head>

<body ng-app="">

    
    <div type="button" id="first" >
       <h4>item1</h4>
       <div style="display: inline-flex;margin-left: 50%;"> <button id="incdecbtn" ng-click="count = count-1" ng-init="count=0"> - </button>
            <p>{{count}}</p>
            <button id="incdecbtn"  ng-click="count = count+1" ng-init="count=0"> + </button>
        </div>
    </div>





</body>

</html>