<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>praticecartsample</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script async src="https://docs.opencv.org/master/opencv.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="./cartsample.css">
   
</head>




<body ng-app="store" ng-controller="StoreController as store">

<div id="page" class="wrapper" ng-app="store" ng-controller="StoreController as store">

    <div class="centered-wrapper">
    	
        <div class="general-desc-wrap">
        	<h1>{{message}}</h1>
            <h1>Shopping Cart - Angular JS</h1>
            <p>AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. <br> Read on to find out how.</p>
            
        </div>
        
        <!--Item Wrap: begins-->
        <div class="item-wrap">
            <div class="row">
            <!--Item: begins-->
            <div id="mainblock"  class="col-sm-2" ng-repeat="product in products | orderBy: 'name'">
                <h6>{{product.name | uppercase}}</h6>
                <img id="img"  ng-src="{{product.image}}" onclick="changeImage(this);" />
                <span class="close-icon" onclick="closeImage(this);"></span>
                <p>{{product.description | limitTo : 95}}</p>
                <h3> &#x20b9; {{ product.price }}</h3>
                <button class="button sold-out" disabled ng-show="product.soldOut">Sold Out</button>
                <button class="button" ng-click="addCart()" ng-show="product.canPurchase">Add to Cart</button>
                
                <div class="panel" ng-show="tab === 1">
                	<h2>Description</h2>
                    <p>{{product.description}}</p>
                    <span class="close-icon" ng-click="tab = 0" style="display:block;"></span>
                </div>
                
                <div class="panel" ng-show="tab === 2">
                	<h2>Reviews</h2>
                    <blockquote>None Yet</blockquote>
                    <span class="close-icon" ng-click="tab = 0" style="display:block;"></span>
                </div>
                
                <ul class="nav nav-pills">
                	<li ng-class="{active:tab === 1}"><a href ng-click="tab = 1">Description</a></li>
                    <li ng-class="{active:tab === 2}"><a href ng-click="tab = 2">Reviews</a></li>
                </ul>
            </div>
        </div>
            <!--Item: ends-->
        
        </div>
        <!--Item Wrap: ends-->
    
    </div>

    <div  ng-repeat=" product in store.buyItemsCart  | orderBy: 'name'">

        <h2>{{buyItemsCart.name | uppercase}}</h2>
       
        

    </div>
 <div>
    <h1>{{message}}</h1>
 </div>
 
</div>
<script>

	
	var app = angular.module('store', []);
	
	app.controller("StoreController", function($scope){
         $scope.buyItemsCart =[];
          $scope.addCart = function(product) {
            if (product) {
      $scope.buyItemsCart.push({ name: product.name  });
     
    }
    $scope.message = "hai murali";
          }
			

		$scope.products = $scope.productItems;
		
	
    $scope.productItems = [ 
		{
			name : "men's casual shirts",
			price: "399",
			description : "Solid stretch fabric. Regular collar. Long buttoned sleeve. Button fastening on the front section.",
			canPurchase : false,
			soldOut : true,
			image :  "./images/1.jpg"
		},
		{
			name :  "men's casual shirts",
			price: "499",
			description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
			canPurchase : true,
			soldOut : false,
			image : "./images/2.jpg"
		},
		{
			name :  "men's casual shirts",
			price: "399",
			description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
			canPurchase : true,
			soldOut : false,
			image : "./images/3.jpg"
		},
		{
			name :  "men's casual shirts",
			price: "499",
			description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
			canPurchase : true,
			soldOut : false,
			image : "./images/4.jpg"
		},
		{
			name :  "men's casual shirts",
			price: "799",
			description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
			canPurchase : false,
			soldOut : true,
			image : "./images/5.jpg"
		},
		{
		
			name : "men's casual shirts",
			price: "499",
			description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
			canPurchase : true,
			soldOut : false,
			image : "./images/6.jpg"
		}
	]
	
});
</script>
</body>
</html>